# Logs
logs
*.log
ui/npm-debug.log*

ui/node_modules
ui/dist

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

ui/.vite

ui/src/locales/**/*.ts

api/venv
api/__pycache__

iac/terraform.tfvars

iac/.terraform/
iac/*.tfstate
iac/*.tfstate.*
iac/*.tfvars
!iac/*.tfvars.example
iac/crash.log
