# Logs
logs
*.log
ui/npm-debug.log*

node_modules
ui/dist

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

.vite

ui/src/locales/**/*.ts

venv
__pycache__
.envrc

iac/terraform.tfvars

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

api/settings/local.py
